.App-logo {
    height: 40px;
}

.App-header {
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: white;
}

.App-intro {
    text-align: center;
    font-size: 20px;
}

.Login-Dialog {
    text-align: center;
    width: 50%;
    left: 0px;
    right: 0px;
    margin: auto;
}